
@font-face {
  src: url('/public/fonts/Comfortaa-Light.woff2') format("woff2");
  font-family: 'comfortaa-light';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  line-height: 1.4;
}

@font-face {
  src: url('/public/fonts/Comfortaa-Bold.woff2') format("woff2");
  font-family: 'comfortaa-bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  line-height: 1.4;
}

@font-face {
  src: url('/public/fonts/Comfortaa-Regular.woff2') format("woff2");
  font-family: 'comfortaa-regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  line-height: 1.4;
}

@font-face {
  src: url('/public/fonts/Comfortaa-SemiBold.woff2') format("woff2");
  font-family: 'comfortaa-semibold';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  line-height: 1.4;
}

