---
const {
  width = "300px",
  initBg = "rgba(120, 119, 198, 0.133)",
  endBg = "hsla(0, 0%, 0%, 0)",
  zIndex = "z-10",
  addClass = ""
} = Astro.props;
---

<div
  class:list={[`absolute pointer-events-none inset-0 contrast-50 ${zIndex}`, addClass]}
  style={`background-image:radial-gradient(circle ${width} at center, ${initBg}, ${endBg});`}
>
</div>
