:root {
    
    --gray-90  : #343233 !important;
    --gray-100 : #353233 !important;
    --gray-110 : #6A696E !important;
    --gray-150 : #7D7A7B !important;
    --gray-190 : #707070 !important;
    --gray-195 : #808080 !important;
    --gray-200 : #868686 !important;
    --gray-205 : #939199 !important;
    --gray-210 : #979797 !important;
    --gray-300 : #D7D7D7 !important;
    --gray-350 : #CDCDCD !important;
    --gray-380 : #d4d4d8 !important;
    --gray-390 : #F2F2F2 !important;
    --gray-400 : #efefef !important;
    --gray-410 : #F9F9F9 !important;

    --blue-100 : #1f3d66 !important;

    --black-400 : #414141;
    --black--200 : rgba(0, 0, 0, 0.5) !important;

    --cyan-50 : #042225 !important;

    --blue-magneta: #13111c;
    --green-magneta: #042225;

    --ocean-green-5 :  #CCE4E7 !important;
    --ocean-green-20 :  #21e7fb !important;
    --ocean-green-80 :  #08939F  !important;
    --ocean-green-100 :  #007A87 !important;
    --ocean-green-120 : #094956 !important ;

    --black-light : rgba(255,255,255,.08) !important;

    --yellow-vibrant: hsl(64, 100%, 50%) !important;

    --neutral : #E6EBF1 !important;
    --neutral-0 : #FFFFFF !important;
    --neutral-20 : #F0F0F2 !important;
    --neutral-40 : #D1CFD9 !important;
    --neutral-60 : #939199 !important;
    --neutral-80 : #5E5C66 !important;

    --gradient-from: rgba(0, 0, 0, 0.3);
    --gradient-to: rgba(0, 0, 0, 0.3);
    --gradient-stops: var(--gradient-from), var(--gradient-to, rgb(19 17 28 / 0));
    --background-noise: url(/public/backgrounds/noise-50.avif);
}