
@font-face {
  font-family: 'font-light';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('font-light'), url('/public/fonts/Comfortaa-Light.woff2') format("woff2");
}

@font-face {
  font-family: 'font-regular';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('font-regular'), url('/public/fonts/Comfortaa-Regular.woff2') format("woff2");
}

@font-face {
  font-family: 'font-semibold';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('font-semibold'), url('/public/fonts/Comfortaa-SemiBold.woff2') format("woff2");
}


@font-face {
  font-family: 'font-bold';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('font-bold'), url('/public/fonts/Comfortaa-Bold.woff2') format("woff2");
}




