
@font-face {
  font-family: 'comfortaa-light';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('comfortaa-light'), url('/public/fonts/Comfortaa-Light.woff2') format("woff2");
}

@font-face {
  font-family: 'comfortaa-regular';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('comfortaa-regular'), url('/public/fonts/Comfortaa-Regular.woff2') format("woff2");
}

@font-face {
  font-family: 'comfortaa-semibold';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('comfortaa-semibold'), url('/public/fonts/Comfortaa-SemiBold.woff2') format("woff2");
}


@font-face {
  font-family: 'comfortaa-bold';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('comfortaa-bold'), url('/public/fonts/Comfortaa-Bold.woff2') format("woff2");
}




