@tailwind utilities;

@layer utilities {
  .bg-text--gradient {

    --bard-color-brand-text-gradient-stop-1: rgb(140, 213, 245);
    --bard-color-brand-text-gradient-stop-2: rgb(56 189 248/1);
    --bard-color-brand-text-gradient-stop-3: #d96570;
    --bard-color-surface: #131314;

    background: linear-gradient(74deg,var(--bard-color-brand-text-gradient-stop-1) 0,var(--bard-color-brand-text-gradient-stop-2) 9%,var(--bard-color-brand-text-gradient-stop-3) 20%,var(--bard-color-brand-text-gradient-stop-3) 24%,var(--bard-color-brand-text-gradient-stop-2) 35%,var(--bard-color-brand-text-gradient-stop-1) 44%,var(--bard-color-brand-text-gradient-stop-2) 50%,var(--bard-color-brand-text-gradient-stop-3) 56%,var(--bard-color-surface) 75%,var(--bard-color-surface) 100%)
  }
}