@import '../layers/animations-timeline.scss';

@mixin overwiew($background: rgba(0, 0, 0, 0.3), $padding: 3rem) {
  background-image: linear-gradient(to right, var(--gradient-stops));
  background-color: $background;
  object-fit: cover;
  object-position: center;
  background-size: cover;
  background-position: 0 0, 0 0;
  background-size: 200px, auto;
  backdrop-filter: blur(14px);
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  padding: $padding;
  @apply shadow-md rounded-3xl;
  transition: border 0.2s ease-in;

  &:hover {
    border: 1px solid hsla(0, 0%, 100%, 0.4);
  }
}