@import "/src/themes/molecules/index.scss";

@mixin autoText {
  letter-spacing: 2px;
  line-height: 1.1;
  overflow-wrap: break-word;
}

.pf-focus--overview {
  @include overwiew();

  h1 {
    @include autoText();
    span {
      color: hsl(64, 100%, 50%);
      &:before {
        position: absolute;
        content: "";
        width: 30px;
        height: 3px;
        right: -35px;
        bottom: 7px;
        border-radius: 5px;
        background-color: hsl(64, 100%, 50%);
        overflow: hidden;
      }
    }
  }
}

.pf-intro--overview {
  & > aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include overwiew($background: #49a7ff56, $padding: 1rem);
    h1 {
    }
  }
}

.pf-social--overview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.2s ease-in;
  cursor: pointer;

  &:hover {
    box-shadow: rgba(253, 223, 71, 0.342) 0px 0px 0px 1px,
      rgba(253, 223, 71, 0.5) 0px 0px 0px 6px;
  }

  &:nth-child(1) {
    @include overwiew($background: #7785ff56, $padding: 1rem);
  }
  &:nth-child(2) {
    @include overwiew($background: #49a7ff3b, $padding: 1rem);
  }
  &:nth-child(3) {
    @include overwiew($background: #45806e56, $padding: 1rem);
  }
}

.pf-skills--overview {
  @include overwiew($background: #001324, $padding: 2rem);
}

.pf-content--overview {
  @include overwiew($background: #001324, $padding: 2rem);
}

.pf-experience--overview {
  @include overwiew($background: hsl(208, 100%, 7%), $padding: 0);
}

.pf-location--overview {
  @include overwiew($background: hsl(208, 100%, 7%), $padding: 0);
}
.pf-projects--overview {
  @include overwiew($background: hsl(208, 100%, 7%), $padding: 0);
}
