---
import Layout from "@layouts/Layout.astro";
import "@pages/index.scss";

import RadialGradientBottomFix from "@shared/content/RadialGradientBottomFix.astro";
import InsetRadial from "@shared/content/InsetRadial.astro";
import PointsFixed from "@shared/content/PointsFixed.astro";


import LineSssquiggly from "@shared/content/LineSssquiggly.astro";


import About from "@components/About.astro";
import Intro from "@components/Intro.astro";

import GitHub from "@shared/icons/GitHub.astro";
import Linkedin from "@shared/icons/Linkedin.astro";
import Mail from "@shared/icons/Mail.astro";
import Download from "@shared/icons/Download.astro";
import Angular from "@shared/icons/Angular.astro";
import React from "@shared/icons/React.astro";
import IcAstro from "@shared/icons/IcAstro.astro";
import JavaScript from "@shared/icons/JavaScript.astro";
import Sass from "@shared/icons/Sass.astro";
import TailwindCss from "@shared/icons/TailwindCss.astro";
import Laravel from "@shared/icons/Laravel.astro";
import TypeScript from "@shared/icons/TypeScript.astro";
import NodeJs from "@shared/icons/NodeJs.astro";
import MySql from "@shared/icons/MySql.astro";
import Firebase from "@shared/icons/Firebase.astro";
import GitCommand from "@shared/icons/GitCommand.astro";
import Docker from "@shared/icons/Docker.astro";
import Supabase from "@shared/icons/Supabase.astro";
import Figma from "@shared/icons/Figma.astro";
import Jasmine from "@shared/icons/Jasmine.astro";
import Ionic from "@shared/icons/Ionic.astro";
import Redux from "@shared/icons/Redux.astro";
import PostCss from "@shared/icons/PostCss.astro";
import ESLint from "@shared/icons/ESLint.astro";

import ArrowRight from "@shared/icons/ArrowRight.astro";
---

<Layout title="Home - Brandol Jesus">

  <main class="relative p-8 w-full overflow-hidden">
    <RadialGradientBottomFix />
    <InsetRadial zIndex="z-30"/>
    <PointsFixed/>
    
    <section
      class="z-20 mx-auto xl:max-w-6xl 2xl:max-w-7xl  relative grid grid-cols-6 gap-5 grid-rows-[masonry]"
    >

      <About/>
      <Intro/>
      
      

      <article
        class="col-span-3 pf-content--overview relative animate-fade-up animate-duration-[600ms] animate-ease-in-out"
      >
        <!-- <div class=" absolute top-0 pointer-events-none cursor-none [background-image:radial-gradient(circle_50px_at_top_right,rgba(120,119,119,0.3),hsla(0,0%,0%,0))]"></div> -->

        <div
          class=" grid grid-cols-4 gap-5 [&>div]:flex [&>div]:flex-col [&>div]:justify-center [&>div]:items-center [&>div>p]:leading-[2em] [&>div>p]:text-xs space-y-2"
        >
          <header class="col-span-4 flex justify-start items-center mb-10">
            <h1 class="text-sm text-left text-cyan-300">
              <span>🌕</span> Stack
            </h1>
          </header>

          <div>
            <JavaScript className="w-14 h-14" />
            <p>JavaScript</p>
          </div>
          <div>
            <TypeScript className="w-14 h-14" />
            <p>TypeScript</p>
          </div>
          <div>
            <React className="w-14 h-14" />
            <p>React</p>
          </div>
          <div>
            <Angular className="w-14 h-14" />
            <p>Angular</p>
          </div>
          <div>
            <IcAstro className="w-14 h-14" />
            <p>Astro</p>
          </div>
          <div>
            <NodeJs className="w-14 h-14" />
            <p>NodeJs</p>
          </div>
          <div>
            <Laravel className="w-14 h-14" />
            <p>Laravel</p>
          </div>
          <div>
            <MySql className="w-14 h-14" />
            <p>MySql</p>
          </div>
          <div>
            <TailwindCss className="w-14 h-14" />
            <p>TailwindCss</p>
          </div>
          <div>
            <Sass className="w-14 h-14" />
            <p>Sass</p>
          </div>
          <div>
            <Firebase className="w-14 h-14" />
            <p>Firebase</p>
          </div>
          <div>
            <GitCommand className="w-14 h-14" />
            <p>Git</p>
          </div>
          <div>
            <Docker className="w-14 h-14" />
            <p>Docker</p>
          </div>
          <div>
            <Supabase className="w-14 h-14" />
            <p>Supabase</p>
          </div>
          <div>
            <Figma className="w-14 h-14" />
            <p>Figma</p>
          </div>
          <div>
            <Jasmine className="w-14 h-14" />
            <p>Jasmine</p>
          </div>
          <div>
            <Ionic className="w-14 h-14" />
            <p>Ionic</p>
          </div>
          <div>
            <Redux className="w-14 h-14" />
            <p>Redux</p>
          </div>
          <div>
            <PostCss className="w-14 h-14" />
            <p>PostCss</p>
          </div>
          <div>
            <ESLint className="w-14 h-14" />
            <p>ESLint</p>
          </div>
        </div>
      </article>

      <article
        class="gap-4 grid [&>div]:space-y-5 animate-fade-up animate-duration-[600ms] animate-ease-in-out"
      >
        <a
          href="https://www.linkedin.com/in/brandol-jes%C3%BAs-vargas-44294b135/"
          target="_blank"
          rel=""
          class="pf-social--overview group cursor-pointer relative"
        >
          <div
            class="flex justify-center items-center flex-col transition space-y-2"
          >
            <div
              class="absolute inset-0 overflow-hidden pointer-events-none rounded-3xl"
            >
              <div
                class="flex justify-center items-center group-hover:bg-gradient-to-t group-hover:from-black/50 via-transparent to-transparent group-hover:via-blafrom-black/20 w-full h-full transition"
              >
                <ArrowRight
                  className="w-10 h-10 opacity-0 group-hover:opacity-70 group-hover:animate-jump-in transition-opacity delay-0 duration-300 text-[#001324] bg-sky-200 rounded-full p-2 group-hover:bg-sky-100 group-hover:[filter:drop-shadow(0_0_1em_rgba(186,230,253,0.15))] "
                />
              </div>
            </div>

            <Linkedin
              className="w-[3rem] h-[3rem] group-hover:animate-jump-out duration-200 transition-all animate-jump-in delay-150"
            />
            <p
              class="text-sm font-bold text-[#dae2fd] group-hover:translate-y-10 transition-all transform group-hover:text-base group-hover:text-cyan-200"
            >
              Linkedin
            </p>
          </div>
        </a>

        <a
          href="mailto:brandolvargas9@gmail.com"
          class="pf-social--overview group cursor-pointer relative"
        >
          <div
            class="flex justify-center items-center flex-col transition space-y-2"
          >
            <div
              class="absolute inset-0 overflow-hidden pointer-events-none rounded-3xl"
            >
              <div
                class="flex justify-center items-center group-hover:bg-gradient-to-t group-hover:from-black/50 via-transparent to-transparent group-hover:via-blafrom-black/20 w-full h-full transition"
              >
                <ArrowRight
                  className="w-10 h-10 opacity-0 group-hover:opacity-70 group-hover:animate-jump-in transition-opacity delay-0 duration-300 text-[#001324] bg-sky-200 rounded-full p-2 group-hover:bg-sky-100 group-hover:[filter:drop-shadow(0_0_1em_rgba(186,230,253,0.15))] "
                />
              </div>
            </div>

            <Mail
              className="w-[3rem] h-[3rem] group-hover:animate-jump-out duration-200 transition-all animate-jump-in delay-150"
            />
            <p
              class="text-sm font-bold text-[#dae2fd] group-hover:translate-y-10 transition-all transform group-hover:text-base group-hover:text-cyan-200"
            >
              Mail
            </p>
          </div>
        </a>

        <a
          href="https://www.linkedin.com/in/brandol-jes%C3%BAs-vargas-44294b135/"
          class="pf-social--overview group cursor-pointer relative"
        >
          <div
            class="flex justify-center items-center flex-col transition space-y-2"
          >
            <div
              class="absolute inset-0 overflow-hidden pointer-events-none rounded-3xl"
            >
              <div
                class="flex justify-center items-center group-hover:bg-gradient-to-t group-hover:from-black/50 via-transparent to-transparent  w-full h-full transition"
              >
                <ArrowRight
                  className="w-10 h-10 opacity-0 group-hover:opacity-70 group-hover:animate-jump-in transition-opacity delay-0 duration-300 text-[#001324] bg-sky-200 rounded-full p-2 group-hover:bg-sky-100 group-hover:[filter:drop-shadow(0_0_1em_rgba(186,230,253,0.15))] "
                />
              </div>
            </div>

            <Download
              className="w-[3rem] h-[3rem] group-hover:animate-jump-out duration-200 transition-all animate-jump-in delay-150"
            />
            <p
              class="text-sm font-bold text-[#dae2fd] group-hover:translate-y-10 transition-all transform group-hover:text-base group-hover:text-cyan-200"
            >
              Curriculum
            </p>
          </div>
        </a>
      </article>

      <article class="col-span-2 pf-skills--overview group">
        <a href="https://github.com/branjesusdev" target="_blank">
          <div class="absolute -z-50 inset-0 overflow-hidden rounded-3xl">
            <div
              class="h-full w-full [mask-image:linear-gradient(black_10%,transparent)] group-hover:[mask-image:linear-gradient(black_30%,transparent)] group-hover:scale-105 transition-transform transform-gpu overflow-hidden"
            >
              <img
                src="/images/desktop-code.jpg"
                alt="Desktop y libreta programando"
                class="w-full h-full overflow-hidden"
              />
            </div>
          </div>

          <div class="flex-col flex justify-between items-center h-full">
            <GitHub className="w-[4rem] h-[4rem] ml-[75%]" />

            <ArrowRight
              className="w-10 h-10 opacity-0  group-hover:opacity-[.7] group-hover:animate-jump-in transition-opacity delay-0 duration-200 text-[#001324] bg-sky-200 rounded-full p-2 hover:bg-sky-100 hover:[filter:drop-shadow(0_0_1em_rgba(186,230,253,0.15))] "
            />
            <p
              class="text-base text-cyan-200
          font-semibold group-hover:text-lg transition-all delay-100 duration-300"
            >
              Perfíl de GitHub, visita mis proyectos
            </p>
          </div>
        </a>
      </article>

      <article class="col-span-3 flex flex-col gap-4 relative">
        <div class="pf-experience--overview group">
          <div
            class="opacity-0 group-hover:opacity-40 transition-all group-hover:animate-jump-in absolute pointer-events-none inset-10 z-10"
            style="background-image:radial-gradient(circle 300px at center, rgba(120, 119, 198, 0.133), hsla(0, 0%, 0%, 0));"
          >
          </div>

          <header class="col-span-4 flex justify-start items-center p-8">
            <h1 class="text-sm text-left text-cyan-300">
              <span>🌕</span> Experience
            </h1>
          </header>
          <section
            class="mt-16 [border:1px_solid_hsla(0,0%,100%,0.2)] rounded-3xl m-2 p-8 bg-gradient-to-b from-[#515c6821] to-[#49647915]"
          >
            <div class="relative">
              <div
                class="before:[content:''] before:w-[1px] before:h-full before:bg-gray-700 before:absolute before:top-0 before:left-1 before:right-0 before:rounded-lg"
              >
                <div class="relative inline-block">
                  <div
                    class="before:[content:''] before:w-2 before:h-2 before:rounded-full before:bg-white before:absolute before:top-1 before:z-10 before:translate-x-[-50%] before:translate-y-[-50%] before:left-1 before:[box-shadow:rgb(255,255,255)0px_0px_0px_1px,rgba(255,255,255,0.5)0px_0px_0px_5px]"
                  >
                    <div class="pl-9 pb-8 space-y-1 -translate-y-2">
                      <h3 class="text-base text-sky-100">Movii, Moviired</h3>
                      <p class="text-xs text-white/70">
                        Programmer Front End 〰️ 2021 - Current
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="relative">
              <div
                class="before:[content:''] before:w-[1px] before:h-full before:bg-gray-700 before:absolute before:top-0 before:left-1 before:right-0 before:rounded-lg"
              >
                <div class="relative inline-block">
                  <div
                    class="before:[content:''] before:w-2 before:h-2 before:rounded-full before:bg-white before:absolute before:top-1 before:z-10 before:translate-x-[-50%] before:translate-y-[-50%] before:left-1 before:[box-shadow:rgb(255,255,255)0px_0px_0px_1px,rgba(255,255,255,0.5)0px_0px_0px_5px]"
                  >
                    <div class="pl-9 pb-8 space-y-1 -translate-y-2">
                      <h3 class="text-base text-sky-100">COBIS</h3>
                      <p class="text-xs text-white/70">
                        Programmer 2 〰️ 2020 - 2021
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="relative">
              <div
                class="before:[content:''] before:w-[1px] before:h-full before:bg-gray-700 before:absolute before:top-0 before:left-1 before:right-0 before:rounded-lg"
              >
                <div class="relative inline-block">
                  <div
                    class="before:[content:''] before:w-2 before:h-2 before:rounded-full before:bg-white before:absolute before:top-1 before:z-10 before:translate-x-[-50%] before:translate-y-[-50%] before:left-1 before:[box-shadow:rgb(255,255,255)0px_0px_0px_1px,rgba(255,255,255,0.5)0px_0px_0px_5px]"
                  >
                    <div class="pl-9 pb-8 space-y-1 -translate-y-2">
                      <h3 class="text-base text-sky-100">Bis@ Comporation</h3>
                      <p class="text-xs text-white/70">
                        Full Stack 〰️ 2019 - 2020
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="relative">
              <div
                class="before:[content:''] before:w-[1px] before:h-full before:bg-gray-700 before:absolute before:top-0 before:left-1 before:right-0 before:rounded-lg"
              >
                <div class="relative inline-block">
                  <div
                    class="before:[content:''] before:w-2 before:h-2 before:rounded-full before:bg-white before:absolute before:top-1 before:z-10 before:translate-x-[-50%] before:translate-y-[-50%] before:left-1 before:[box-shadow:rgb(255,255,255)0px_0px_0px_1px,rgba(255,255,255,0.5)0px_0px_0px_5px]"
                  >
                    <div class="pl-9 pb-8 space-y-1 -translate-y-2">
                      <h3 class="text-base text-sky-100">Tivit Synapsis</h3>
                      <p class="text-xs text-white/70">Senior 〰️ 2017 - 2019</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="relative">
              <div
                class="before:[content:''] before:w-[1px] before:h-full before:bg-gray-700 before:absolute before:top-0 before:left-1 before:right-0 before:rounded-lg"
              >
                <div class="relative inline-block">
                  <div
                    class="before:[content:''] before:w-2 before:h-2 before:rounded-full before:bg-yellow-100 before:absolute before:top-1 before:z-10 before:translate-x-[-50%] before:translate-y-[-50%] before:left-1 before:[box-shadow:rgb(255,255,255)0px_0px_0px_1px,rgba(255,255,255,0.5)0px_0px_0px_5px]"
                  >
                    <div class="pl-9 pb-8 space-y-1 -translate-y-2">
                      <h3 class="text-base text-sky-100">
                        Redes y Edificaciones
                      </h3>
                      <p class="text-xs text-white/70">Senior 〰️ 2017</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>

        <div class="pf-location--overview group relative">
          <div
          class="opacity-0 group-hover:opacity-40  group-hover:animate-jump-in animate-once absolute pointer-events-none inset-0 z-10"
            style="background-image:radial-gradient(circle 200px at center, rgba(120, 119, 198, 0.133), hsla(60, 15%, 12%, 0.288)"
          >
          </div>


          <header class="col-span-4 flex justify-start items-center p-8">
            <h1 class="text-sm text-left text-cyan-300">
              <span>🌕</span> Location
            </h1>
          </header>

          <section
            class="mt-16 [border:1px_solid_hsla(0,0%,100%,0.2)] rounded-3xl m-2 p-8 bg-gradient-to-b from-[#515c6821] to-[#49647915] relative flex flex-row justify-between items-center"
          >

          <div
            class="absolute inset-0 flex items-center justify-center -z-50"
          >
            <div
              class="h-full w-full [mask-image:linear-gradient(black_1%,transparent)] rounded-full"
            >
              <LineSssquiggly/>
            </div>
          </div>

            <h1 class="font-bold text-sky-100"> Fusagasugá, Colombia</h1>
            <span class="text-3xl">🌤️</span>
          </section>
        </div>
      </article>

      <article class="col-span-3 pf-projects--overview relative">
        <div
          class="absolute pointer-events-none inset-0 z-10"
          style="background-image:radial-gradient(circle 300px at center, rgba(120, 119, 198, 0.133), hsla(0, 0%, 0%, 0));"
        >
        
        </div>

        <header class="flex justify-between items-center p-8">
          <h1 class="text-sm text-left text-cyan-300">
            <span>🌕</span> Projects
          </h1>
        </header>

        <section class="flex flex-col mt-16 gap-4 px-2 pb-2">
          <article
              class="[border:1px_solid_hsla(0,0%,100%,0.2)] rounded-3xl
              bg-gradient-to-b from-[#515c6821] to-[#49647915] relative h-[15rem] 
              transition-all
              cursor-pointer group"
            >
  
            <div class="overflow-hidden rounded-3xl w-full h-[14.89rem] z-10 ">
                <img src="/images/projects/onlyShopping.png" alt="" class=" object-cover object-center w-full h-full rounded-3xl 
                transform-gpu  overflow-hidden 
                group-hover:animate-movedeg
                duration-300
                transition-all duration-400">
            </div>
            
            <a href="https://only-shopping.vercel.app/" target="_blank" class="flex flex-col justify-between p-8 
            absolute z-20 bottom-0 font-extrabold 
            group-hover:bg-gradient-to-br w-full h-full 
            from-black/50 to-black/30 rounded-3xl [background-image:linear-gradient(0deg,#26292d_1%,#00132482_50%,#fff0_99%)]">
  
              <div></div>
              <div class="flex justify-between items-center">
                <div>
                  <h3 class="text-brav-primary font-bold">OnlyShopping</h3>
                  <p class="text-sm text-white/70">Ventas de camisas</p>
                </div>
                <div class="flex gap-4">
                  <span class="text-xs"><React className="w-10 h-8"/></span>
                  <span class="text-xs"><TailwindCss className="w-8 h-8" /></span>
                </div>
              </div>
  
              <div
                class="absolute inset-0 overflow-hidden pointer-events-none rounded-3xl"
              >
                <div
                  class="flex justify-center items-center w-full h-full transition"
                >
                  <ArrowRight
                    className="w-10 h-10 opacity-0 group-hover:opacity-70 group-hover:animate-jump-in transition-opacity delay-0 duration-300 text-[#001324] bg-sky-200 rounded-full p-2 group-hover:bg-sky-100 group-hover:[filter:drop-shadow(0_0_1em_rgba(186,230,253,0.15))] "
                  />
                </div>
              </div>
  
            </a>
  
          </article>

          <article
              class="[border:1px_solid_hsla(0,0%,100%,0.2)] rounded-3xl
              bg-gradient-to-b from-[#515c6821] to-[#49647915] relative h-[15rem] 
              transition-all
              cursor-pointer group"
            >
  
            <div class="overflow-hidden rounded-3xl w-full h-[14.89rem] z-10 ">
                <img src="/images/projects/Warriors.png" alt="" class=" object-cover object-center w-full h-full rounded-3xl 
                transform-gpu  overflow-hidden 
                group-hover:animate-movedeg
                duration-300
                transition-all duration-400">
            </div>
            
            <a href="https://landing-warriors.vercel.app/" target="_blank" class="flex flex-col justify-between p-8 
            absolute z-20 bottom-0 font-extrabold 
            group-hover:bg-gradient-to-br w-full h-full 
            from-black/50 to-black/30 rounded-3xl [background-image:linear-gradient(0deg,#26292d_1%,#00132482_50%,#fff0_99%)]">
  
              <div></div>
              <div class="flex justify-between items-center">
                <div>
                  <h3 class="text-brav-primary font-bold">Landing Warriors</h3>
                  <p class="text-sm text-white/70">VS Mortal Combat</p>
                </div>
                <div class="flex gap-4">
                  <span class="text-xs"><IcAstro className="w-10 h-8"/></span>
                  <span class="text-xs"><TailwindCss className="w-8 h-8" /></span>
                </div>
              </div>
  
              <div
                class="absolute inset-0 overflow-hidden pointer-events-none rounded-3xl"
              >
                <div
                  class="flex justify-center items-center w-full h-full transition"
                >
                  <ArrowRight
                    className="w-10 h-10 opacity-0 group-hover:opacity-70 group-hover:animate-jump-in transition-opacity delay-0 duration-300 text-[#001324] bg-sky-200 rounded-full p-2 group-hover:bg-sky-100 group-hover:[filter:drop-shadow(0_0_1em_rgba(186,230,253,0.15))] "
                  />
                </div>
              </div>
  
            </a>
  
          </article>
  
          <article
              class="[border:1px_solid_hsla(0,0%,100%,0.2)] rounded-3xl
              bg-gradient-to-b from-[#515c6821] to-[#49647915] relative h-[15rem] 
              transition-all
              cursor-pointer group"
            >
  
            <div class="overflow-hidden rounded-3xl w-full h-[14.89rem] z-10 ">
                <img src="/images/projects/CatRandom.png" alt="" class=" object-cover object-center w-full h-full rounded-3xl 
                transform-gpu  overflow-hidden 
                group-hover:animate-movedeg
                duration-300
                group-hover:opacity-40
                transition-all duration-400">
            </div>
            
            <a href="https://only-shopping.vercel.app/" target="_blank" class="flex flex-col justify-between p-8 
            absolute z-20 bottom-0 font-extrabold 
            group-hover:bg-gradient-to-br w-full h-full 
            from-black/50 to-black/30 rounded-3xl [background-image:linear-gradient(0deg,#26292d_1%,#00132482_50%,#fff0_99%)]">
  
              <div></div>
              <div class="flex justify-between items-center">
                <div>
                  <h3 class="text-brav-primary font-bold">Cat Random</h3>
                  <p class="text-sm text-white/70">Text obtiene gatos aleatorios</p>
                </div>
                <div class="flex gap-4">
                  <span class="text-xs"><React className="w-10 h-8"/></span>
                  <span class="text-xs"><TailwindCss className="w-8 h-8" /></span>
                </div>
              </div>
  
              <div
                class="absolute inset-0 overflow-hidden pointer-events-none rounded-3xl"
              >
                <div
                  class="flex justify-center items-center w-full h-full transition"
                >
                  <ArrowRight
                    className="w-10 h-10 opacity-0 group-hover:opacity-70 group-hover:animate-jump-in transition-opacity delay-0 duration-300 text-[#001324] bg-sky-200 rounded-full p-2 group-hover:bg-sky-100 group-hover:[filter:drop-shadow(0_0_1em_rgba(186,230,253,0.15))] "
                  />
                </div>
              </div>
  
            </a>
  
          </article>

          <article
              class="[border:1px_solid_hsla(0,0%,100%,0.2)] rounded-3xl
              bg-gradient-to-b from-[#515c6821] to-[#49647915] relative h-[15rem] 
              transition-all
              cursor-pointer group"
            >
  
            <div class="overflow-hidden rounded-3xl w-full h-[14.89rem] z-10 ">
                <img src="/images/projects/TriquiGame.png" alt="" class=" object-cover object-center w-full h-full rounded-3xl 
                transform-gpu  overflow-hidden 
                group-hover:animate-movedeg
                duration-300
                group-hover:-rotate-12 group-hover:translate-x-20 group-hover:opacity-40
                transition-all duration-400">
            </div>
            
            <a href="https://only-shopping.vercel.app/" target="_blank" class="flex flex-col justify-between p-8 
            absolute z-20 bottom-0 font-extrabold 
            group-hover:bg-gradient-to-br w-full h-full 
            from-black/50 to-black/30 rounded-3xl [background-image:linear-gradient(0deg,#26292d_1%,#00132482_50%,#fff0_99%)]">
  
              <div></div>
              <div class="flex justify-between items-center">
                <div>
                  <h3 class="text-brav-primary font-bold">Triqui Game</h3>
                  <p class="text-sm text-white/70">Juego de dos</p>
                </div>
                <div class="flex gap-4">
                  <span class="text-xs"><React className="w-10 h-8"/></span>
                  <span class="text-xs"><TailwindCss className="w-8 h-8" /></span>
                </div>
              </div>
  
              <div
                class="absolute inset-0 overflow-hidden pointer-events-none rounded-3xl"
              >
                <div
                  class="flex justify-center items-center w-full h-full transition"
                >
                  <ArrowRight
                    className="w-10 h-10 opacity-0 group-hover:opacity-70 group-hover:animate-jump-in transition-opacity delay-0 duration-300 text-[#001324] bg-sky-200 rounded-full p-2 group-hover:bg-sky-100 group-hover:[filter:drop-shadow(0_0_1em_rgba(186,230,253,0.15))] "
                  />
                </div>
              </div>
  
            </a>
  
          </article>

        </section>

      </article>

      <article class="col-span-6 text-center py-20 text-sm">
        <p>Con 💖 por branjesusdev 🚀</p>
      </article>
    </section>
  </main>
</Layout>
