---
import Layout from "@layouts/Layout.astro";
import "@pages/index.scss";

import RadialGradientBottomFix from "@shared/content/RadialGradientBottomFix.astro";
import InsetRadial from "@shared/content/InsetRadial.astro";
import PointsFixed from "@shared/content/PointsFixed.astro";

import About from "@components/About.astro";
import Intro from "@components/Intro.astro";
import Stack from "@components/Stack.astro";
import Contact from "@components/Contact.astro";
import Repository from "@components/Repository.astro";
import Experience from "@components/Experience.astro";
import Location from "@components/Location.astro";
import Projects from "@/components/Projects.astro";
import News from "@/components/News.astro";
import Acknowledgements from "@/components/Acknowledgements.astro";
---

<Layout title="Home - Brandol Jesus">
  <main class="relative p-8 w-full overflow-hidden">
    <RadialGradientBottomFix />
    <InsetRadial zIndex="z-30"/>
    <PointsFixed />

    <section
      class="z-20 mx-auto xl:max-w-6xl 2xl:max-w-7xl relative grid grid-cols-6 gap-5 grid-rows-[masonry]"
    >
      <About/>
      <Intro />
      <Stack />
      <Contact />
      <Repository />

      <article class="col-span-6 md:col-span-3 flex flex-col gap-4 relative">
        <Location/>
        <Experience />
        <News/>
      </article>

      <Projects />

      <div class="col-span-6 flex flex-col gap-4 relative">
        <Acknowledgements/>
      </div>
      

      <article class="col-span-6 text-center py-20 text-base">
        <p>With 💖 for branjesusdev 🚀</p>
      </article>
    </section>
  </main>
</Layout>
