---
import Layout from "@layouts/Layout.astro";
import "@pages/index.scss";

import RadialGradientBottomFix from "@shared/content/RadialGradientBottomFix.astro";
import InsetRadial from "@shared/content/InsetRadial.astro";
import PointsFixed from "@shared/content/PointsFixed.astro";

import About from "@/sections/About.astro";
import Hero from "@/sections/Hero.astro";
import Stack from "@/sections/Stack.astro";
import Contact from "@/sections/Contact.astro";
import Repository from "@/sections/Repository.astro";
import Experience from "@/sections/Experience.astro";
import Location from "@/sections/Location.astro";
import Projects from "@/sections/Projects.astro";
import News from "@/sections/News.astro";
import Acknowledgements from "@/sections/Acknowledgements.astro";
---

<Layout title="Home - Brandol Jesus">
  <main class="relative p-8 w-full">
    <RadialGradientBottomFix />
    <InsetRadial zIndex="z-30"/>
    <PointsFixed />
    
    <section
      class="z-20 mx-auto xl:max-w-6xl 2xl:max-w-7xl relative grid grid-cols-6 gap-5 grid-rows-[masonry] tabular-nums"
    >
      <About />
      <Hero />
      <Stack class:list={`animation-timeline`} />
      <Contact class:list={`animation-timeline`} />
      <Repository class:list={`animation-timeline`} />

      <Location class:list={`col-span-6 md:col-span-3 animation-timeline`} />
      <Experience  class:list={`col-span-6 md:col-span-3 row-span-2 animation-timeline`} />
      <News class:list={`col-span-6 md:col-span-3 animation-timeline`} />

      <div class="col-span-6 ">
        <Projects />
      </div>

      <div class="col-span-6 flex flex-col gap-4 relative animation-timeline ">
        <Acknowledgements />
      </div>
      

      <article class="col-span-6 text-center py-20 text-base text-slate-100">
        <p>With 💖 for branjesusdev 🚀</p>
        <p>2.1.0</p>
      </article>
    </section>
  </main>
</Layout>
