@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  color-scheme: light dark;
}

@import "./atoms/colors.scss";
@import "./atoms/font-family.scss";
@import "./atoms/scroll.scss";


@import "./organisms/reset.scss";


@import './layers/base.scss';
@import './layers/utilities.scss';
@import './layers/components.scss';
