---
import OooscillateLines from "@shared/content/OooscillateLines.astro";
import InsetRadial from "@shared/content/InsetRadial.astro";
import "@/themes/molecules/wordRotation.scss"
---

<article class="pf-focus--overview col-span-6 md:col-span-5 relative w-full min-h-[60dvh]">
  <OooscillateLines />

  
  <article class="h-full w-full flex flex-col md:flex-row gap-8">
    <figure class="m-auto w-[15rem] md:w-[28rem] relative ">

      <div class="absolute inset-0 -z-10 opacity-80 contrast-50 blur-2xl">
        <InsetRadial width="200px" initBg="#67e8f93a" endBg="rgb(0,255,247,0.02)"/>
      </div>

      <img
        class="object-cover object-top [transition:all_.1s_ease-in]
            hover:[filter:drop-shadow(0_0_1.3em_rgb(0,255,247,0.09))]
            rounded-[2rem] cursor-crosshair will-change-[filter]
            lg:p-2 [mask-image:linear-gradient(black_40%,transparent)] rounded-bl-[10rem]"
        src="/images/PerfilRemove942.avif"
        alt="Joven programador con gafas"
        sizes="(max-width: 591px) 100vw, 591px"
        decoding="async"
        loading="eager"
        draggable="false"
        fetchpriority="high"
        width="591"
        height="556"
        srcset="/images/PerfilRemove942.avif 591w, https://fincamaranata.site/wp-content/uploads/2023/03/finca-maranata-invierte-en-ganado-en-venezuela_resultado-300x282.webp 300w"
      />
    </figure>

    <div class="w-full h-full flex flex-col gap-8 md:gap-0">
      <div class="flex flex-col justify-evenly h-full gap-8 md:gap-0">
        <h1
          class="text-xl
              tracking-tight
              text-gray-50
              sm:text-3xl
              md:text-4xl
              lg:text-5xl"
        >
          👋 Hello, I'm <span class="relative "
            >Brandol</span>
        </h1>

        <div>
          <p
            class="text-lg font-semibold leading-normal text-sky-100 max-w-[60ch]"
          >
            A passionate seeker of knowledge, always willing to immerse himself
            in new topics and challenges in order to constantly grow.
          </p>
        </div>
      </div>

      <div class="flex justify-end items-center">
        <p
          class="text-right text-cyan-200 font-semibold text-sm leading-normal max-w-[40ch]"
        >
          "A user interface is like a joke. If you have to explain it, it's not so good"
        </p>
      </div>
    </div>
  </article>
</article>
