---
import { Picture } from "astro:assets";
import InsetRadial from "@shared/content/InsetRadial.astro";
import "@/themes/molecules/wordAnimate.scss";
import avatar from "./assets/avatar.avif";
import GridBackgroundBoxes from "@/shared/content/GridBackgroundBoxes.astro";


const textReveal = `👋 Hello, I'm Brandol`;
---


<article
  id="about"
  class="pf-focus--overview col-span-6 md:col-span-5 relative w-full min-h-[90dvh] animate-fade-up animate-duration-500 animate-delay-0 overflow-hidden"
>

  <GridBackgroundBoxes />

  <article class="h-full w-full flex flex-col gap-8 justify-center items-center z-10">
    <figure
      class="m-auto w-[15rem] md:w-[28rem] relative saturate-[120%] brightness-100 transition-all"
    >
      <div class="absolute inset-0 -z-10 opacity-80 contrast-50 blur-2xl">
        <InsetRadial
          width="200px"
          initBg="#67e8f93a"
          endBg="rgb(0,255,247,0.02)"
        />
      </div>

      <Picture
        class="m-auto object-cover object-top [transition:all_.1s_ease-in] hover:[filter:drop-shadow(0_0_1.3em_rgb(0,255,247,0.09))] rounded-[2rem] cursor-crosshair will-change-[filter] lg:p-2 [mask-image:linear-gradient(black_40%,transparent)] rounded-bl-[10rem] max-w-[clamp(12rem,30vw,20rem)] z-10"
        src={avatar}
        alt="Avatar"
        loading="eager"
        formats={["avif", "webp", "png"]}
      />

    </figure>

    <div class="w-full h-full flex flex-col gap-8 md:gap-0 relative justify-center items-center text-center">
      <div class="flex flex-col justify-evenly h-full gap-8 md:gap-0">
        <h1 
          class="relative inline-block
            text-[clamp(1.5rem,5vw,3.2rem)]
            font-bold
            overflow-hidden"
        >
          
          <span class="word-animate-reveal text-yellow-500">
            {
              textReveal.match(/./gu)!.map((char, index) => (
                <span
                  class="word-item"
                  style={{ animationDelay: `${index * 0.05}s` }}
                >
                  {char === " " ? "\u00A0" : char}
                </span>
              ))
            }
          </span>

        </h1>

          <h2
            class="text-[clamp(1.2rem,5vw,2rem)] text-balance max-w-[700px] text-white font-sans"
          >
            Creative problem solver with a full-stack skillset, passionate about
            mastering new technologies and crafting elegant solutions.
          </h2>

      </div>
    </div>
  </article>
</article>

<style is:inline>

  .word-animate-reveal {
    letter-spacing: 1px;
    
  }

  .word-item {
    display: inline-block;
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
    animation-fill-mode: backwards;
  }

  @keyframes reveal {
    0% {
      transform: translate(0, 100%);
    }
    100% {
      transform: translate(0, 0);
    }
  }
</style>


<script >

  import { splotlightBorder } from "@shared/lib/spotlight-border";
  import { mouseFollowerRun } from "@shared/lib/mouse-follower";
  
  splotlightBorder({ selector: "about" });
  mouseFollowerRun({ selector: "about" });
  
</script>