---
import { Image } from "astro:assets";

const { className, img, alt, caption } = Astro.props;
---

<figure class:list={[`${className} flex justify-start md:justify-center items-center flex-col
  gap-2 text-xs text-center`]}>
  <Image 
    src={img} 
    alt={alt} 
    decoding="async"
    loading="lazy"
    width="90"
    height="90"
    class="w-28 [border:1px_solid_var(--black-light)] cursor-crosshair rounded-full p-1">
  <caption><span class="font-bold text-[var(--gray-390)] "> {caption}</span></caption>
</figure>