---
import HeaderTitle from "@/components/ui/HeaderTitle.astro";

interface Props {
  class?: string
}

const { class: classList } = Astro.props as Props;

---

<div 
  id="location"
  class:list={[classList, "pf-location--overview group relative"]}>

  <HeaderTitle title="Location"/>

  <section
    class="mt-16 inner-content inner-content--not-padded flex flex-row justify-between items-center overflow-hidden p-0 min-h-[4rem] "
  >
    <div class="absolute -z-50 inset-x-0 top-1 overflow-hidden w-full h-full min-h-[] ">
      <img
        src="/backgrounds/stars.svg"
        alt="Desktop and notebook programming"
        class="object-contain w-4/5 mx-auto"
        decoding="async"
        data-all-status="loaded"
      />
    </div>

    <p class="font-bold text-sky-100 text-sm ml-4">Fusagasugá, Colombia</p>
    <img src="/backgrounds/globe.svg" 
      alt="illustration localization Satellitor" 
      class="lg:block w-1/2" 
      />

  </section>
</div>

<script>
  import { splotlightBorder } from "@shared/lib/spotlight-border";
  import { mouseFollowerRun } from "@shared/lib/mouse-follower";
  
  splotlightBorder({ selector: "location" });
  mouseFollowerRun({ selector: "location" });

</script>
