---
import HeaderTitle from "@/components/ui/HeaderTitle.astro";
import { Picture } from "astro:assets";
import avatar from "./assets/stars.svg";
import globe from "./assets/globe.svg";

interface Props {
  class?: string
}

const { class: classList } = Astro.props as Props;

---

<div 
  id="location"
  class:list={[classList, "pf-location--overview group relative"]}>

  <HeaderTitle title="Location"/>

  <section
    class="mt-16 inner-content inner-content--not-padded overflow-hidden p-0 min-h-[4rem] "
  >
    <div class="absolute -z-50 inset-x-0 top-1 overflow-hidden w-full h-full min-h-[] ">
      <Picture
        class="w-4/5 mx-auto pointer-events-none cursor-none"
        src={avatar}
        alt="Desktop and notebook programming"
        loading="lazy"
        formats={["avif", "webp", "png"]}
      />
    </div>

    <div class=" flex flex-row justify-between items-center">
      <p class="font-bold text-sky-100 text-sm ml-4">Fusagasugá, Colombia</p>
  
      <div class="lg:block w-1/2">
        <Picture
          class=" pointer-events-none cursor-none"
          src={globe}
          alt="Desktop and notebook programming"
          loading="lazy"
          formats={["avif", "webp", "png"]}
        />
      </div>
    </div>

  </section>
</div>

<script>
  import { splotlightBorder } from "@shared/lib/spotlight-border";
  import { mouseFollowerRun } from "@shared/lib/mouse-follower";
  
  splotlightBorder({ selector: "location" });
  mouseFollowerRun({ selector: "location" });

</script>
