---
import LineSssquiggly from "@shared/content/LineSssquiggly.astro";
import InsetRadial from "@shared/content/InsetRadial.astro";
import HeaderTitle from "@/components/ui/HeaderTitle.astro";
import React from "@shared/icons/React.astro";
---

<section class="pf-location--overview group relative noise-content">
  <HeaderTitle title="News"/>


  <article
    class="mt-16 inner-content inner-content--space flex flex-col justify-between items-center space-y-2"
  >
  <h1 class="font-bold">🎊 Soon dark and light mode</h1>
  <h1 class="font-bold">🎊 Soon artificial intelligence chat from my portfolio</h1>
  </article>
</section>
