---
import LineSssquiggly from "@shared/content/LineSssquiggly.astro";
import InsetRadial from "@shared/content/InsetRadial.astro";
import HeaderTitle from "@/components/ui/HeaderTitle.astro";
---

<div class="pf-location--overview group relative">

  <InsetRadial width="300px" addClass="opacity-0 group-hover:opacity-40 group-hover:animate-jump-in animate-once"/>
  <HeaderTitle title="News"/>

  <section
    class="mt-16 inner-content inner-content--space flex flex-col justify-between items-center space-y-2"
  >
  <h1 class="font-bold">🎊 Soon dark and light mode</h1>
  <h1 class="font-bold">🎊 Soon artificial intelligence chat from my portfolio</h1>
  </section>
</div>
