---
import InsetRadial from "@shared/content/InsetRadial.astro";
import CardProduct from "@/components/ui/CardProduct.astro";

import NextJs from "@shared/icons/NextJs.astro";
import React from "@shared/icons/React.astro";
import IcAstro from "@shared/icons/IcAstro.astro";
import TailwindCss from "@shared/icons/TailwindCss.astro";
import Angular from "@shared/icons/Angular.astro";

import Badge from "@/components/ui/Badge.astro";

---

<section 
  id="projects"
  class="col-span-6 md:col-span-3 animation-timeline my-32">

  <div class="relative w-full my-14">
    <InsetRadial/>
    <h1 class="stroke-text text-[9rem] text-center py-10">Projects</h1>
  </div>

  <div>
  
    <div class="grid  grid-cols-1 gap-6 md:grid-cols-2">

      <CardProduct  
        urlInner="https://flypass-find-movies.vercel.app/" 
        imageProduct="findmovies.webp"
        title="Find Movies"
        subTitle="I developed a movie app with Angular 18 and Signals, integrating TheMovieDB API to show trending and popular content."
        >
  
        <Badge>
          <Angular className="w-5 h-5" />
          Angular
        </Badge>
  
        <Badge>
          <TailwindCss className="w-5 h-5" />
          TailwindCss
        </Badge>
      </CardProduct>
      
  
      <CardProduct  
        urlInner="https://only-shopping.vercel.app/" 
        imageProduct="onlyShopping.avif"
        title="OnlyShopping"
        subTitle="I developed a shirt store web app using React, integrating WhatsApp for direct customer contact and orders."
        >
  
        <Badge>
          <React  className="w-5 h-5"/>
          React
        </Badge>
  
        <Badge>
          <TailwindCss className="w-5 h-5" />
          TailwindCss
        </Badge>
      </CardProduct>

      <CardProduct 
        urlInner="https://film-quality.vercel.app/" 
        imageProduct="MovieFilm.avif"
        title="MovieFilm" 
        subTitle="I built a movie web app using Next.js, with server-side rendering for fast performance, integrating TheMovieDB API to showcase trending and popular movies.">
  
        <Badge>
          <NextJs  className="w-5 h-5"/>
          NextJs
        </Badge>
  
        <Badge>
          <TailwindCss  className="w-5 h-5"/>
          TailwindCss
        </Badge>
      </CardProduct>
  
      
      <CardProduct 
        urlInner="https://landing-warriors.vercel.app/" 
        imageProduct="Warriors.avif"
        title="Landing Warriors" 
        subTitle="I built a web app with Astro, featuring dynamic Mortal Kombat characters and animations, optimized for fast performance.">
  
        <Badge>
          <IcAstro  className="w-5 h-5"/>
          Astro
        </Badge>
  
        <Badge>
          <TailwindCss  className="w-5 h-5"/>
          TailwindCss
        </Badge>
      </CardProduct>
    
      <CardProduct 
        urlInner="https://triqui-game-neon.vercel.app/" 
        imageProduct="TriquiGame.avif"
        title="Triqui Game" 
        subTitle="I developed a Tic-Tac-Toe game using React, with interactive gameplay and state management for a smooth user experience.">
  
        <Badge>
          <React  className="w-5 h-5"/>
          React
        </Badge>
  
        <Badge>
          <TailwindCss  className="w-5 h-5"/>
          TailwindCss
        </Badge>
      </CardProduct> 
    </div>

  </div>
  
</section>


<script>
  import { splotlightBorder } from "@shared/lib/spotlight-border";
  import { mouseFollowerRun } from "@shared/lib/mouse-follower";
  
  splotlightBorder({ selector: "projects" });
  mouseFollowerRun({ selector: "projects" });

</script>
