---
import InsetRadial from "@shared/content/InsetRadial.astro";
import HeaderTitle from "@/components/ui/HeaderTitle.astro";
import CardProduct from "@/components/ui/CardProduct.astro";

import NextJs from "@shared/icons/NextJs.astro";
import React from "@shared/icons/React.astro";
import IcAstro from "@shared/icons/IcAstro.astro";
import TailwindCss from "@shared/icons/TailwindCss.astro";

import Badge from "@/components/ui/Badge.astro";

---

<section class="col-span-6 md:col-span-3 pf-projects--overview relative animation-timeline">
  <InsetRadial/>
  <HeaderTitle title="Projects"/>

  <section class="flex flex-col mt-16 gap-4 px-2 pb-2">

    <CardProduct 
      urlInner="https://only-shopping.vercel.app/" 
      imageProduct="onlyShopping.avif"
      title="OnlyShopping" 
      subTitle="Shirt sales">

      <Badge>
        <React  className="w-5 h-5"/>
        React
      </Badge>

      <Badge>
        <TailwindCss className="w-5 h-5" />
        TailwindCss
      </Badge>
    </CardProduct>

    <CardProduct 
      urlInner="https://film-quality.vercel.app/" 
      imageProduct="MovieFilm.avif"
      title="MovieFilm" 
      subTitle="Featured films with filters">

      <Badge>
        <NextJs  className="w-5 h-5"/>
        NextJs
      </Badge>

      <Badge>
        <TailwindCss  className="w-5 h-5"/>
        TailwindCss
      </Badge>
    </CardProduct>
    
    <CardProduct 
      urlInner="https://landing-warriors.vercel.app/" 
      imageProduct="Warriors.avif"
      title="Landing Warriors" 
      subTitle="VS Mortal Combat">

      <Badge>
        <IcAstro  className="w-5 h-5"/>
        Astrp
      </Badge>

      <Badge>
        <TailwindCss  className="w-5 h-5"/>
        TailwindCss
      </Badge>
    </CardProduct>
  
    <CardProduct 
      urlInner="https://triqui-game-neon.vercel.app/" 
      imageProduct="TriquiGame.avif"
      title="Triqui Game" 
      subTitle="set of two people">

      <Badge>
        <React  className="w-5 h-5"/>
        React
      </Badge>

      <Badge>
        <TailwindCss  className="w-5 h-5"/>
        TailwindCss
      </Badge>
    </CardProduct>
  </section>


</section>