---
import InsetRadial from "@shared/content/InsetRadial.astro";
import HeaderTitle from "@/components/ui/HeaderTitle.astro";
import CardProduct from "@/components/ui/CardProduct.astro";

import React from "@shared/icons/React.astro";
import IcAstro from "@shared/icons/IcAstro.astro";
import TailwindCss from "@shared/icons/TailwindCss.astro";

---

<section class="col-span-6 md:col-span-3 pf-projects--overview relative">
  <InsetRadial/>
  <HeaderTitle title="Projects"/>

  <section class="flex flex-col mt-16 gap-4 px-2 pb-2">
    <CardProduct 
      urlInner="https://only-shopping.vercel.app/" 
      imageProduct="onlyShopping.avif"
      title="OnlyShopping" 
      subTitle="Shirt sales">
      <span class="text-xs"><React  className="w-10 h-8"/></span>
      <span class="text-xs"><TailwindCss className="w-8 h-8" /></span>
    </CardProduct>
    
    <CardProduct 
      urlInner="https://landing-warriors.vercel.app/" 
      imageProduct="Warriors.avif"
      title="Landing Warriors" 
      subTitle="VS Mortal Combat">
      <span class="text-xs"><IcAstro className="w-10 h-8"/></span>
      <span  class="text-xs"><TailwindCss   className="w-8 h-8" /></span>
    </CardProduct>
  
    <CardProduct 
      urlInner="https://cat-fact-random.vercel.app/" 
      imageProduct="CatRandom.avif"
      title="CatRandom" 
      subTitle="Fact cat random">
      <span class="text-xs"><React className="w-10 h-8"/></span>
      <span class="text-xs"><TailwindCss className="w-8 h-8" /></span>
    </CardProduct>
  
    <CardProduct 
      urlInner="https://triqui-game-neon.vercel.app/" 
      imageProduct="TriquiGame.avif"
      title="Triqui Game" 
      subTitle="set of two people">
      <span class="text-xs"><React className="w-10 h-8"/></span>
      <span class="text-xs"><TailwindCss className="w-8 h-8" /></span>
    </CardProduct>
  </section>


</section>