---
import ArrowIconEfect from "@components/ui/ArrowIconEfect.astro";
import GitHubMove from "@/shared/icons/GitHubMove.astro";
---

<article class="relative col-span-6 md:col-span-2 pf-skills--overview group min-h-[20rem] animate-fade-up animate-duration-500 animate-delay-200">
  <a 
    href="https://github.com/branjesusdev" 
    target="_blank" 
    rel="noopener noreferrer">
    
    <div class="absolute -z-50 inset-0 overflow-hidden rounded-3xl">
      <div
        class="h-full w-full [mask-image:linear-gradient(black_10%,transparent)] 
          group-hover:[mask-image:linear-gradient(black_30%,transparent)] 
          group-hover:scale-105 transition-transform transform-gpu overflow-hidden"
      >
        <img
          src="/images/rever-prev-commit.avif"
          alt="Desktop and notebook programming"
          class="w-full h-full overflow-hidden opacity-50 filter blur-md object-cover object-center"
          width="564"
          height="705"
          decoding="async"
          data-sizes="(max-width: 591px) 100vw, 591px"
          data-all-status="loaded"
          data-src="/images/rever-prev-commit.avif"
          srcset="/images/rever-prev-commit.avif 564w"
        />
      </div>
    </div>

    <div class="flex-col flex justify-between items-center h-full py-10 px-3">
      <GitHubMove className="text-slate-100 h-[8rem] w-[8rem] md:w-[9rem] md:h-[9rem] ml-[75%] -rotate-45 absolute top-4 right-0" />
      
      <span></span>

      <ArrowIconEfect/>
      <p
        class="text-sm md:text-sm lg:text-base text-cyan-200
          font-semibold"
      >
        GitHub profile, visit my projects
      </p>
    </div>
  </a>
</article>