---
import GitHub from "@shared/icons/GitHub.astro";
import ArrowRight from "@shared/icons/ArrowRight.astro";
---

<article class="relative col-span-6 md:col-span-2 pf-skills--overview group min-h-[20rem]">
  <a 
    href="https://github.com/branjesusdev" 
    target="_blank" 
    rel="noopener noreferrer">
    
    <div class="absolute -z-50 inset-0 overflow-hidden rounded-3xl">
      <div
        class="h-full w-full [mask-image:linear-gradient(black_10%,transparent)] 
          group-hover:[mask-image:linear-gradient(black_30%,transparent)] 
          group-hover:scale-105 transition-transform transform-gpu overflow-hidden"
      >
        <img
          src="/images/rever-prev-commit.avif"
          alt="Desktop and notebook programming"
          class="w-full h-full overflow-hidden opacity-50 filter blur-md object-cover object-center"
          width="564"
          height="705"
          decoding="async"
          data-sizes="(max-width: 591px) 100vw, 591px"
          data-all-status="loaded"
          data-src="/images/rever-prev-commit.png"
          srcset="/images/rever-prev-commit.png 564w"
        />
      </div>
    </div>

    <div class="flex-col flex justify-between items-center h-full">
      <GitHub className="h-[2rem] w-[2rem] md:w-[4rem] md:h-[4rem] ml-[75%]" />

      <ArrowRight
        className="w-10 h-10 opacity-0  group-hover:opacity-[.7] group-hover:animate-jump-in transition-opacity delay-0 duration-200 text-[#001324] bg-sky-200 rounded-full p-2 hover:bg-sky-100 hover:[filter:drop-shadow(0_0_1em_rgba(186,230,253,0.15))] "
      />
      <p
        class="text-sm md:text-base text-cyan-200
          font-semibold md:group-hover:text-lg
          transition-all delay-100 duration-300"
      >
        GitHub profile, visit my projects
      </p>
    </div>
  </a>
</article>