---
import HeaderTitle from "@/components/HeaderTitle.astro";
import Avatar from "@/components/Avatar.astro";
---

<section 
  id="acknowledgements" 
  class="pf-location--overview group relative"
  style="content-visibility: auto;">
  <HeaderTitle title="Acknowledgements" />

  <article
    class="mt-16 inner-content inner-content--space flex flex-row justify-between items-center space-y-2 relative overflow-hidden"
  >
      <div class="flex justify-between flex-col gap-4 md:block">
        <Avatar
          className="md:-translate-y-5 xl:-translate-y-5"
          img="/images/avatars/midudev.avif"
          alt="Master programmer with +15 years of experience"
          caption="Midudev"
        />
        <Avatar
          className="md:translate-x-12"
          img="/images/avatars/leiferMendez.avif"
          alt="Master programmer Leifer Mendez"
          caption="Leifer Mendez"
        />
        <Avatar
          className="md:translate-y-5 xl:translate-y-5"
          img="/images/avatars/fernandoHerrera.avif"
          alt="Master programmer Fernando Herrera"
          caption="Fernando Herrera"
        />
      </div>

      <div
        class="flex flex-col justify-center items-center max-w-2xl gap-6 text-center mx-auto"
      >
        <span>⭐⭐⭐⭐⭐</span>
        <p class="max-w-[40ch] md:text-sm xl:text-2xl text-slate-100">
          The beauty of programming lies in its ability to inspire and connect
          us. To learn from the masters is to honour tradition and innovation in
          equal measure!
        </p>
        <h1 class="text-[var(--ocean-green-20)] text-xl">Thanks 🙏</h1>
      </div>

      <div class="flex justify-between flex-col gap-4 md:block">
        <Avatar
          className="md:-translate-y-5 xl:-translate-y-5"
          img="/images/avatars/Goncy.avif"
          alt="Master programmer Goncy"
          caption="Goncy"
        />
        <Avatar
          className="md:-translate-x-12 "
          img="/images/avatars/nikobytes.avif"
          alt="Master programmer Nikobytes"
          caption="Nikobytes"
        />
        <Avatar
          className="md:translate-y-5 xl:translate-y-5"
          img="/images/avatars/manzdev.avif"
          alt="Master programmer manzdev"
          caption="Manzdev"
        />
      </div>
  </article>
</section>



<script>
  import { splotlightBorder } from "@shared/lib/spotlight-border";
  import { mouseFollowerRun } from "@shared/lib/mouse-follower";
  splotlightBorder({ selector: "acknowledgements" });
  mouseFollowerRun({ selector: "acknowledgements" });
</script>