---
import HeaderTitle from "@/components/HeaderTitle.astro";
import InnerLine from "@/components/InnerLine.astro";
import curriculum from "@/assets/curriculum.json";

interface Props {
  class?: string
}

const { class: classList } = Astro.props as Props;

---

<section
  id="experience"
  class:list={[classList, "relative pf-experience--overview group overflow-hidden border-clip"]}
  style="content-visibility: auto;"
>

  <HeaderTitle title="Experience"/>

  <section
  class="inner-content inner-content--space overflow-hidden relative"
  >
  <div class="absolute  pointer-events-none cursor-none w-full h-full flex justify-center items-center translate-x-[18rem] opacity-30 translate-y-36">
    <div class="absolute bg-[url(/images/Orbite-eee.svg)] bg-cover bg-center w-[170px] h-[170px]"></div>
    <div class="absolute bg-[url(/images/Orbite-eee.svg)] bg-cover bg-center w-[260px] h-[260px]"></div>
    <div class="absolute bg-[url(/images/Orbite-eee.svg)] bg-cover bg-center w-[350px] h-[350px]"></div>
    <div class="absolute bg-[url(/images/Orbite-eee.svg)] bg-cover bg-center w-[440px] h-[440px]"></div>
  </div>
      {
        curriculum.experiences.map((experience, index) => (
          <InnerLine
            title={experience.role }
            subTitle={experience.company}
            description={experience.duration}
            through={index !== 0o0}
            link={experience.link ?? undefined}
          />
        ))
      }

  </section>
</section>

<script>
  import { mouseFollowerRun } from "@shared/lib/mouse-follower";
  mouseFollowerRun({ selector: "experience" });
</script>
