---
import '@/themes/molecules/notification.scss'
import HeaderTitle from "@/components/HeaderTitle.astro";
import Notification from "@/shared/icons/Notification.astro";

interface Props {
  class?: string
}

const { class: classList } = Astro.props as Props;

---

<section 
  class:list={[classList, "pf-location--overview group relative"]}
  style="content-visibility: auto;">
  <HeaderTitle title="News">
    <div class="flex-1"></div>
    <div class="relative transition-all">
      <span class="notification"></span>
      <Notification />
    </div>
  </HeaderTitle>

  <article
    class="mt-16 inner-content inner-content--space flex flex-col justify-between items-center space-y-2"
  >
  <h1 class="font-bold text-sky-100">🎊 Soon dark and light mode</h1>
  <h1 class="font-bold text-sky-100">🎊 Soon artificial intelligence chat from my portfolio</h1>
  </article>
</section>
