
.animation-timeline {
  animation: 1s ease-in both;
  animation-timeline: view();
  animation-range: entry 5% 30%;
  animation-name: blurFadeIn;
}

@keyframes blurFadeIn {
  0% {
      transform: scale(0.2);
      opacity: 0;
      filter: blur(5px);
  }
  100% {
      transform: scale(1);
      opacity: 1;
      filter: blur(0);
  }
}