---
import ArrowIconEfect from "@components/ui/ArrowIconEfect.astro";

const { redirectURL, infoText } = Astro.props;

---

<a
  href={redirectURL}
  target="_blank"
  rel="noopener noreferrer"
  class="pf-social--overview group cursor-pointer relative min-h-[10rem]"
  aria-label={infoText}
>
  <div class="flex justify-center items-center flex-col transition space-y-2">
    <div
      class="absolute inset-0 overflow-hidden pointer-events-none rounded-3xl"
    >
      <div
        class="flex justify-center items-center group-hover:bg-gradient-to-t group-hover:from-black/50 via-transparent to-transparent group-hover:via-blafrom-black/20 w-full h-full transition"
      >
        <ArrowIconEfect/>
      </div>
    </div>

    <slot></slot>

    <p
      class="text-sm font-bold text-[#dae2fd] group-hover:translate-y-4 md:group-hover:translate-y-10 transition-all transform group-hover:text-base group-hover:text-cyan-200"
    >
      { infoText }
    </p>
  </div>
</a>
