---
const { title, subTitle } = Astro.props;
---

<article class="relative">
  <div
    class="before:[content:''] before:w-[1px] before:h-full before:bg-gray-700 
    before:absolute before:top-0 before:left-1 before:right-0 before:rounded-lg"
  >

    <blockquote class="relative inline-block">
      <div
        class="before:[content:''] before:w-2 before:h-2 before:rounded-full before:bg-white before:absolute before:top-1 before:z-10 before:translate-x-[-50%] before:translate-y-[-50%] before:left-1 before:[box-shadow:rgb(255,255,255)0px_0px_0px_1px,rgba(255,255,255,0.5)0px_0px_0px_5px] group-hover:before:bg-cyan-50 group-hover:before:w-3 group-hover:before:h-3 transition-all group-hover:before:[box-shadow:rgb(255,255,255)0px_0px_0px_1px,rgba(255,255,255,0.5)0px_0px_0px_4px]"
      >
        <div class="pl-9 pb-8 space-y-1 -translate-y-2">
          <h1 class="text-base text-red-800 dark:text-red-200">{ title }</h1>
          <p class="text-xs text-white/70">
            { subTitle }
          </p>
        </div>
      </div>
    </blockquote>
  </div>
</article>
